$primaryColor: darkcyan;
$secondaryColor: darkslategray;

h1 {
  color: $primaryColor;
}
.container {
  &__subtitle {
    color: $secondaryColor;
    display: flex;
    justify-content: center;
  }
}
