doctype html
html(lang='en')
  include pug/_head
  body
    .container
      h1 Hello from Webpack
      h2.container__subtitle Lorem ipsum dolor sit consectetur adipisicing elit. Possimus, etsotr.
      .block
      .user
